@import '../../../../base';
@import '~@ngx-share/button/themes/outline/outline-theme';

$colorDefault:#f8f8f8;

.site{    
    margin-top: 92px;
    background-color: $colorPrimaryBase;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: auto;
}
@media (min-width:700px){
    /* site__slider /deep/ { */
    .site__slider ::ng-deep{
        width: 100%;
        margin: 20px auto;
        margin-top: 0;
        gallery {
            width: 100%;
            background-color: $colorPrimaryBase;
            height: 33.75vw;
        }
        .g-box{
            width: 60vw;
            margin: auto;
        }
        .g-box, gallery-slider{
            position: unset !important;
            overflow: unset !important;
        }
        gallery-item{        
            max-width: 60vw;
            margin: 1vw;
            opacity: .3;
            &.g-active-item{
                opacity: 1;
            }
        }
    }
}
.site__group{
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 200px 1000px;
    justify-self: center;
    margin-bottom: 60px;
    .group__header{
        color: $colorDefault;
        font-size: 20px;
        line-height: 25px;
        height: min-content;
        position: sticky;
        top: 120px;
    }
    .group__content{
        box-sizing: border-box;
        display: block;
        flex-basis: 0%;
        flex-grow: 1;
        flex-shrink: 1;
    }
}
.navigation__horizantal{
    padding: 30px 0;
    width: 1200px;
    margin: auto;
    .navigation__items{
        align-items: center;
        list-style: none;
        color: $colorDefault;
        display: flex;
    }
    .navigation__ItemText{
        opacity: .5;
        color: $colorDefault;
        text-decoration: unset;
        font-size: 17px;
        transition: .2s ease-in-out;
        padding-right: 10px;
        &::before{
            content: "<";
            position: relative;
            display: flex;
            align-items: center;
            transition: .2s ease-in-out;
            transform: translateX(-6px);
        }
        &:hover{
            opacity: 1;
            &::before{
                transform: translateX(-10px);
            }
        }
    }
    .navigation__disabled{
        color: $colorDefault;
        opacity: 1 !important;
        padding-left: 10px;
    }
    .back:after{
        content: "";
        background-color: $colorDefault;
        height: 12px;
        width: 2px;
        opacity: .5;
        display: inline-block;
    }
    h1{
        font-weight: 500;
    }
}
.metadata{
    letter-spacing: normal;
    line-height: 26px;
    margin-top: 0px;
    .metadata__item{
        letter-spacing: normal;
        font-size: 18px;
        text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
        margin-bottom: 20px;
        color: $colorDefault;
        flex-basis: 33%;    
    }
    .metadata__label{
        opacity: 0.6;
    }
    .metadata__data{
        display: inline-block;
        line-height: 20px;
        color: $colorDefault;
    }
    .product{
        order: 2;
    }
    .tags a{
        color: $colorDefault;

    }
}
.about__content{
    color: $colorDefault;
}
.about__accordion{
    font-size: 16px;
    line-height: 26px;
    color: $colorDefault;
}
/* about__accordion /deep/ { */
.about__accordion ::ng-deep {
    p, li{
        opacity: .7;
        color: $colorDefault;
    }
    h1,h2,h3,h4,h5,h6{
        font-size: 18px;
        margin-bottom: 3px;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: normal;
        line-height: 26px;
    }
}
.book {
    display: flex;
    .book__item {        
        display: grid;
        grid-template-columns: 300px 684px;
        column-gap: 16px;
    }
    .book__picture img{
        width: 100%;
    }
    .book__content{    
        display: grid;
        grid-template-rows: min-content 1fr min-content;
    }
    .book__description {
        font-size: 18px;
        color: $colorDefault;
        opacity: .7;
    }
}

.article{
    display: grid;
    grid-template-rows: auto;
    row-gap: 20px;
    .article__item{
        letter-spacing: normal;
    }
    .article__picture{
        font-size: 16px;
        text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
        img{
            width: 100%;
        }
    }
    .article__content{
        font-size: 16px;
        color: $colorDefault;
    }
    .article__link{
        padding-top: 10px;
        text-transform: uppercase;
        color: $colorPrimaryLight;    
        font-size: 18px;
        text-decoration: unset;
        &:hover::after{    
            transform: translateX(10px);
        }
        &::after{
            content: ">>";
            font-size: 21px;
            line-height: 21px;
            transform: translateX(5px);
            transition: transform .3s cubic-bezier(.4,0,1,1);
        }
    }
}

.product{
    display: grid;
    grid-template-rows: auto;
    row-gap: 20px;
    .product__item{
        display: grid;
    }
    .product__header{
        letter-spacing: normal;
        border-bottom: 1px solid orange;
    }
    .product__botton{
        flex-basis: 200px;
    }
    .product__footer{
        color: $colorDefault;
        font-size: 16px;
    }
    .product__discount{
        opacity: .7;
        margin-right: 10px;
        &::after{
            content: "₽";
            transform: translateX(5px);
        }
    }
    .discount__procent{
        background-color: $colorPrimaryLight;
        margin-right: 8px;
        padding: 3px 6px;
        font-size: 12px;
        line-height: 18px;
        color: $colorPrimaryBase;
    }
    .price{
        margin-right: 10px;    
        font-family: Brutal,sans-serif;
        font-weight: 400;
    }
}
.speaker {
    &.mono{ 
        display: grid;        
        grid-template-rows: auto;
        row-gap: 20px;
        .speaker__item {
            flex-basis: 100%;
        }
        .speaker__content{
            display: grid;
            grid-template-rows: min-content 1fr min-content;
        }
        .speaker__header::after{
            content: "";
            width: 300px;
            height: 2px;
            background-color: $colorPrimaryLight;
            position: relative;
            margin-top: 10px;
            display: block;
        }
        .content__text{
            display: block;
        }
        .speaker__work{
            text-align: left;
        }
        .content__header{
            text-align: left;
        }
    }
    .speaker__item{
        flex-basis: 33.33%;
        padding: 0 10px;
    }
    .speaker__picture{
        img{
            width: 100%;
        }
    }
    .speaker__work{
        text-align: center;
        display: block;
    }
    .content__header{
        text-align: center;
    }
    .content__text{
        display: none;
    }
}

.content__header{
    font-size: 24px;
    margin:unset;
    color: $colorDefault;
}
.content__text{    
    font-size: 16px;
    color: $colorDefault;
    opacity: .7;
}
.content__color{
    font-size: 18px;
    color: $colorPrimaryLight;
    line-height: 21px;
    padding-bottom: 10px;
}
.content__background{
    padding: 20px 10px;
    background-color: rgba(245, 245, 245, .1);
    border-radius: 4px;
    transition: background-color 125ms ease-in-out;
    &:hover{
        background-color: rgba(245, 245, 245, .13);
    }
}

.content__prewiev{
    flex-basis: 300px;
    img {
        width: 100%;
    }

}
.content__block {
    flex-basis: 664px;
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
    .site__group{
        width: 900px;
        grid-template-columns: 200px 700px;
    }
    .book .book__item{
        grid-template-columns: 200px 484px;
    }
    .navigation__horizantal{
        width: 900px;
    }
    .content__block {
        flex-basis: 464px;
    }
    .content__prewiev{
        flex-basis: 200px;
        img {
            width: 100%;
        }
    }
    .content__text{
        display: block;
        width: 100%;
        height: 75px;
        margin-top: 5px;
        outline: none;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: content-box;
    }    
    .book__description {
        position: relative;
        p {
            display: block;
            width: 100%;
            height: 130px;
            margin-top: 5px;
            outline: none;
            overflow: hidden;
            text-overflow: ellipsis;
            box-sizing: content-box;
        }
        p:after{
            content: "";
            position: absolute;
            display: block;
            bottom: 0;
            width: 100%;
            background: linear-gradient(to bottom,#e6646500, #111a23);
            height: 100px;
        }
    }
}


@media screen and (max-width: 900px) and (min-width: 700px) {
    .site{
        margin-top: 64px;
    }
    .site__group{
        width: 700px;
        grid-template-columns: 700px;
        grid-template-rows: auto;
        row-gap: 20px;
        margin: auto;
        padding-bottom: 30px;
    }
    .site_header{
        display: none;
    }
    .book .book__item{
        grid-template-columns: 200px 484px;
    }
    .navigation__horizantal{
        width: 700px;
        .navigation__items{
            padding: 0;
        }
    }
    .content__block {
        flex-basis: 464px;
    }
    .content__prewiev{
        flex-basis: 200px;
        img {
            width: 100%;
        }
    }
    .metadata .metadata__item{
        flex-basis: 50%;
    }
    .metadata {
        .product{
            flex-basis: 100%;
        }
        .tags{
            display: none;
        }
    }
    .speaker .speaker__item{
        padding: 0;
    }
    .content__text{
        display: block;
        width: 100%;
        height: 75px;
        margin-top: 5px;
        outline: none;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: content-box;
    }    
    .book__description {
        position: relative;
        p {
            display: block;
            width: 100%;
            height: 130px;
            margin-top: 5px;
            outline: none;
            overflow: hidden;
            text-overflow: ellipsis;
            box-sizing: content-box;
        }
        p:after{
            content: "";
            position: absolute;
            display: block;
            bottom: 0;
            width: 100%;
            background: linear-gradient(to bottom,#e6646500, #111a23);
            height: 100px;
        }
    }
}


@media screen and (max-width: 700px){
    .site{
        margin-top: 56px;
    }
    .navigation__horizantal{
        display: none;
    }
    
    /* site__slider /deep/ { */
    .site__slider ::ng-deep{
        width: 100%;
        margin: 20px auto;
        margin-top: 0;
        gallery {
            width: 100%;
            background-color: $colorPrimaryBase;
            height: 56.25vw;
        }
        .g-box{
            width: 100vw;
            margin: auto;
        }
        .g-box, gallery-slider{
            position: relative !important;
            overflow: hidden !important;
        }
        .g-image-item{
            height: 100% !important;
            border-bottom: unset;
        }
        gallery-item{    
            opacity: .3;
            &.g-active-item{
                opacity: 1;
            }
        }
    }
    .site__group{
        width: 84vw;
        padding: 8vw;
        grid-template-columns: auto;
        grid-template-rows: auto;
        row-gap: 20px;
        margin: auto;
        padding-bottom: 30px;
    }
    
    .metadata {
        .metadata__item{
            flex-basis: 100%;
            margin-bottom: 5px;
        }
        margin-bottom: 10px;
    }
    .discount__procent, .site_header{
        display: none;
    }
    .book .book__item{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .book .book__description{
        padding: 20px 0;
    }
    .navigation__horizantal{
        width: 100%;
        .navigation__items{
            padding: 0;
        }
    }
    .content__block {
        flex-basis: 100%;
        text-align: left;
    }
    .content__prewiev{
        text-align: left;
        flex-basis: 100%;
        img {
            width: 100%;
        }
    }
    .speaker .speaker__item{
        padding: 0;
    }
    .speaker__content {
        text-align: left;
    }
    .speaker__picture {
        max-width: 300px;
        margin: auto;
    }
    .content__text{
        padding: 20px 0;
    }
}