<div class='site_header'>  
   <mat-toolbar-row class='navigation_block active'> 
      <div class='navigation container14'>
         <span><a pageScroll href="#lecture_description"  [pageScrollOffset]="92" [pageScrollDuration]="200" >Описание</a></span>
         <span *ngIf="product$"><a pageScroll href="#product_id"  [pageScrollOffset]="92" [pageScrollDuration]="200" >Купить</a></span>
         <span *ngIf="books$"><a pageScroll href="#book_id"  [pageScrollOffset]="92" [pageScrollDuration]="200" >Книга</a></span>
         <span *ngIf='articles$'><a pageScroll href="#articles" [pageScrollOffset]="92" [pageScrollDuration]="200">статьи</a></span>
         <span *ngIf="speaker$"><a pageScroll href="#speakers_id" [pageScrollOffset]="92" [pageScrollDuration]="200">О спикере</a></span>
         <span><a pageScroll href="#map_section_id" [pageScrollOffset]="92" [pageScrollDuration]="200" >контакты</a></span>
      </div>
   </mat-toolbar-row>
</div>

<div class="site">
  <div class="navigation__horizantal">
    <ul class="navigation__items">
      <li class="navigation__item back flex flex--a-center">
        <a  class="navigation__ItemText flex flex--a-center" 
            [routerLink]="['/talk']">
          <span>Вернуться к списку лекций</span>  
        </a>
      </li>
      <li class="navigation__item">
        <a  class=" navigation__disabled flex flex--a-center"
            disabled="disabled">
            <h1>{{(site_diaplay$ | async)?.SEO.title}}</h1>
        </a>
      </li>
    </ul>
  </div>

  <div class="site__slider">
    <gallery  #gallerySlider
        id="SiteSlider" 
        [playerInterval]='5000' 
        [loadingMode]="['indeterminate']" 
        [autoPlay]='false' 
        imageSize='cover' 
        loadingStrategy='default' 
        [loop]='false' 
        [thumb]='false'
        [counter]='false'
        [dotsSize]='10'
        class='slider_galerey'></gallery>
  </div>
  <div class="site__group" id="lecture_description">
    <div class="group__leftrail flex flex--j-start">
      <div class="group__header">
        <span >O лекции</span>
      </div>
    </div>
    <div class="group__content">
      <div class="metadata flex flex--wrap flex--j-between">
        <div class="metadata__item" [ngStyle]="{order: 0}">
          <span class="metadata__label">Дата проведения:</span>
          <div class="metadata__list">
            <div class="metadata__item">
              <span class="metadata__data">14 марта 12:00</span>
            </div>
          </div>
        </div>
        <div class="metadata__item" [ngStyle]="{order: 4}">
          <span class="metadata__label">Адресс:</span>
          <div class="metadata__list">
            <div class="metadata__item">
              <span class="metadata__data">Москва,Нижегородская ул. 29/33</span>
            </div>
          </div>
        </div>
        <div class="metadata__item" [ngStyle]="{order: 5}">
          <span class="metadata__label">Спикеры:</span>
          <div class="metadata__list">
            <div class="metadata__item">
              <span class="metadata__data" 
                    *ngFor="let speaker of speaker$"
              >{{(speaker | async)?.fullName()}}</span>
            </div>
          </div>
        </div>
        <div class="metadata__item tags" [ngStyle]="{order: 3}">
          <span class="metadata__label">Теги</span>
          <div class="metadata__list">
            <div class="metadata__item">
              <span class="metadata__data">
                <a  *ngFor="let tag of tags$ as list" 
                    [routerLink]="['/talk/category/'+(tag | async )?.index]"
                    class="">{{(tag | async )?.name}}</a>  
              </span>
            </div>
          </div>
        </div>
        <div class="metadata__item product">
          <a  
              pageScroll href="#product_id"  
              [pageScrollOffset]="92" 
              [pageScrollDuration]="200" >
            <button class='button border hover'>Преобрести билет</button>
          </a>
        </div>
        <div class="metadata__item" [ngStyle]="{order: 1}">
          <span class="metadata__label">Цена</span>
          <div class="metadata__list">
            <div class="metadata__item">
              <span class="metadata__data" *ngIf="min_price > 0">{{min_price}}₽ +</span>
              <span class="metadata__data" *ngIf="min_price == 0">Бесплатно +</span>
            </div>
          </div>
        </div>
      </div>
      <div class="about__content">
        <div class='about__accordion'[innerHTML]="(site_diaplay$ |async)?.Text">
        </div>
      </div>
    </div>
  </div>
  
  <div class="site__group" *ngIf="product$" id='product_id'>
    <div class="group__leftrail flex flex--j-start">
      <div class="group__header">
        <span>Купить билет</span>
      </div>
    </div>
    <div class="group__content">
      <div class="product">
        <div class="product__item content__background" *ngFor="let product of product$">
          <ng-template [ngIf]="product | async">
            <header class="product__header flex flex--wrap flex--j-between">
              <div class="product__picture content__prewiev">
                <img 
                  [src]="(product | async)?.Image"
                  [alt]="(product | async)?.Title">
              </div>
              <article class="product__content content__block">
                <header class="product__data">
                  <h5 class="content__header set-pBottom_10">{{(product | async)?.Title}}</h5>
                </header>
                <p class="content__text" [innerHTML]="(product | async)?.Description | safeHtml"></p>
              </article>             
            </header>
            <footer class="product__footer flex flex--j-end  set-pTop_10">
              <div class="price flex flex--a-top" >
                <div *ngIf="(product | async)?.Price == 0;then FreeBlock else PriceBlock"></div>
                <ng-template #FreeBlock>
                  <div *ngIf="(product|async)?.priceDiscount()"
                        class="flex flex--a-center flex--j-center">
                    <span class="discount__procent">
                      {{(product|async)?.discountProcent()}}
                    </span>
                    <s class="product__discount">
                        {{ (product |async)?.defaultPrice()}}
                      </s>
                  </div>
                  <span class="product__price flex flex--a-center">
                    Бесплатно
                  </span>
                </ng-template>
                <ng-template #PriceBlock>
                  <div *ngIf="(product|async)?.priceDiscount()"
                        class="flex flex--a-center flex--j-center">
                    <span class="discount__procent">
                      {{(product|async)?.discountProcent()}}
                    </span>
                    <s class="product__discount">
                        {{ (product |async)?.defaultPrice()}}  
                      </s>
                  </div>
                  <span class="product__price flex flex--a-center flex--j-center">
                    {{ (product | async)?.Price }}.00 ₽
                  </span>
                </ng-template>
              </div>
              <a  
                  *ngIf="!(product | async)?.SoldOut"
                  [routerLink]="[]"
                  [queryParams]="{ m_t: 'ev_'+(product | async)?.Product_id}"
                  rel="nofollow"
                  queryParamsHandling="merge"
                  class="product__botton">
                  <button class='button hover' *ngIf="(product | async)?.Price > 0">Преобрести</button>  
                  <button class='button hover' *ngIf="(product | async)?.Price == 0">Зарегестрироваться</button>  
              </a>
              <a *ngIf="(product | async)?.SoldOut"
                  class="product__botton">
                <button class='button hover' disabled>Билеты проданы</button>  
              </a>
            </footer>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div class="site__group" id="book_id">
    <div class="group__leftrail flex flex--j-start">
      <div class="group__header">
        <span>Книга по теме</span>
      </div>
    </div>
    <div class="group__content">
      <div class="book">
        <div class="book__item" *ngFor="let book of books$">
          <ng-template [ngIf]="book | async">
            <div class="book__picture">
              <img 
                [src]="(book | async)?.Cover"
                [alt]="(book | async)?.Title">
            </div>
            <div class="book__content">
              <header class="book__data">
                <span class="content__color">{{(book | async)?.Speaker}}</span>
                <div class="content__header set-pTop_10">{{(book | async)?.Title}}</div>
              </header>
              <div class="book__description flex flex--j-center flex--a-center">
                <p [innerHTML]="(book | async)?.Description | safeHtml"></p>
              </div>
              <div class="book__link">
                <a  routerLink='(book | async)?.Link'>
                    <button class='button border hover'>Подробнее</button>  
                </a>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div class="site__group" id='articles'>
    <div class="group__leftrail flex flex--j-start">
      <div class="group__header">
        <span>Материалы по теме</span>
      </div>
    </div>
    <div class="group__content">
      <div class="article">
        <div class="article__item content__background flex flex--wrap flex--j-between" 
          *ngFor="let article of articles$">
          <ng-template [ngIf]="article | async">
            <div class="article__picture content__prewiev">
              <img 
                [src]="(article | async)?.img"
                [alt]="(article | async)?.title">
              <a  
                class="article__link flex"
                [routerLink]='(article|async)?.link'>Подробнее</a>
            </div>
            <article class="article__content content__block">
              <header class="article__data">
                <h5 class="content__header set-pBottom_10">{{(article | async)?.title}}</h5>
              </header>
              <p class="content__text" [innerHTML]="(article | async)?.text | safeHtml"></p>
            </article>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div class="site__group" *ngIf="articles$" id='speakers_id'>
    <div class="group__leftrail flex flex--j-start">
      <div class="group__header">
        <span>Спикеры</span>
      </div>
    </div>
    <div class="group__content">
      <div class="speaker flex flex--wrap flex--j-between" 
          [class.mono]="speaker$.length <= 2">
        <div class="speaker__item flex flex--wrap flex--j-between"
              *ngFor="let speaker of speaker$">
          <ng-template [ngIf]="speaker | async">
            <div class="speaker__picture content__prewiev">
              <img 
                [src]="(speaker | async)?.image_base"
                [alt]="(speaker | async)?.fullName()+' - спикер лектория Концентратор'">
            </div>               
            <div class="speaker__content content__block">
              <header class="speaker__header set-mBottom_10">
                <span class="speaker__work content__color">{{(speaker | async)?.work_profile}}</span>
                <h5 class="content__header set-mBottom_10">{{(speaker | async)?.fullName()}}</h5>
              </header>
              <p class="content__text">
                {{ (speaker | async)?.discription }}
              </p>
              <a  
                class="speaker__link flex"
                [routerLink]=''
                [queryParams]="{ m_t: 'sp_'+(speaker|async)?.speaker_id}"
                rel="nofollow"
                queryParamsHandling="merge">
                  <button class="button border hover">Подробнее</button>
              </a>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<map-section></map-section> 
