{% load static %}
<div class="django-ckeditor-widget" data-theme="spectre" data-field-id="{{id}}" style="display: inline-block;max-width:1400px;width: 100%;">
    <textarea rows="10" required {{ final_attrs }} data-processed="0" data-config="{{ config }}" data-external-plugin-resources="{{ external_plugin_resources }}" data-id="{{id}}" data-type="ckeditortype">{{ value }}</textarea>
</div>
